
/* Responsive styles for mobile screens */

@media only screen and (max-width: 600px) {

  body {
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: 'Lato';
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction:row;
    padding: 0px 0px;
  }
  
  .logo {
    order: 1;
  }

  .logo-image {
    height: 100px;
    width: 340px;
  }
  

  .menu-list {
      display: none;
      width: 100%;
      position: absolute;
      top: 60px; /* Adjust as needed */
      left: 0;
      background-color: #f9f9f9;
      z-index: 1;
  }

  .menu-list.active {
      display: flex;
  }

  .menu-list ul {
      padding: 10px;
  }

  .centered {
    font-weight: 400;
    line-height: 2;
  }

  .serviceimg {
    height: 400px;
    width: 100%;
  }

  .service-box {
    padding: 70px 0px;
    background-color: #f0f0f0;
  }

  .welcome-section {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgba(0, 0, 0, 0.527);
  }

  .custom-shape-divider-bottom-1708637014 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1708637014 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 75px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1708637014 .shape-fill {
    fill: #FFFFFF;
}



  .introduction-section {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .intro-header {
    color: goldenrod;
  }

  .services-section {
    background-color: #f0f0f0;
  }

  .service-h1 {
    padding-top: 20px;
    position: relative;
    top: 20px;
  }


  .buttons {
    position: relative;
    top: 50px;
    padding-bottom: 70px;
  }

  .bordered-button {
    padding: 20px 30px;
    position: relative;
    background-color: #C0C0C0;
    right: 10px;
    border: none;
    color: #000;
  }

  .plain-button {
    padding: 20px 30px;
    position: relative;
    left: 10px;
    border: none;
    color: goldenrod;
    
  }

  .results-section {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(results.webp);
    background-position: center;
    background-size: cover;
  }

  .results-button {
    padding: 15px 20px;
    background-color: #fff;
    border: none;
    
  }

  .overlay {
    z-index: 1;
    position: relative;
    background-color: #0000002a;
    color: #fff;
    height: 400px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .overlay .result-p {
    font-weight: lighter;
  
  }


  .questions-section {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid;
    border-bottom: 1px solid;
  }

  .hours {
    text-align: left;
  }

  .hours-div {
    padding: 50px 0px;
  }

  .time {
    padding: 10px 0px;
    list-style: none;
  }

  .footer {
    padding-top: 50px;
  }
}
